# Factorio Factory Configuration
product = Electronic Circuit

recipe =
    Iron Plate   : 1
    Copper Cable : 3

craft_time   = 30
recycle_time = 20

assemblers        = 4
recyclers         = 2
assembler_modules = 4
recycler_modules  = 4

supply =
    Iron Plate   : 10
    Copper Cable : 30